<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>
    <div class="Detail Body">
        <div class="Listing Grid">
            <div class="Listing-Item">
                <a class="Listing-Thumbnail" href="/">
                    <img src="https://images.unsplash.com/photo-1714630152093-1363d87b25c8?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D"
                        alt="Kitten 1">
                </a>
                <div class="Listing-Info Has-Thumbnail">
                    <a class="Property Name" href="/">
                        Kitten 1
                    </a>
                    <span class="Property">Meowtastic</span>
                </div>
            </div>

            <div class="Listing-Item ">
                <a class="Listing-Thumbnail" href="/">
                    <img src="https://images.unsplash.com/photo-1714572877777-59bf4765f462?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNnx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                </a>
                <div class="Listing-Info Has-Thumbnail">
                    <a class="Property Name" href="/">
                        Kitten 2
                    </a>

                </div>
            </div>



            <div class="Listing-Item">
                <a class="Listing-Thumbnail" href="/">
                    <img src="https://images.unsplash.com/photo-1714573807672-873a892000c9?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMnx8fGVufDB8fHx8fA%3D%3D"
                        alt="Kitten 4">
                </a>
                <div class="Listing-Info Has-Thumbnail">
                    <a class="Property Name" href="/">
                        Kitten 4
                    </a>
                    <span class="Property">Pawlease Pet Me</span>
                </div>
            </div>

            <div class="Listing-Item">
                <a class="Listing-Thumbnail" href="/">
                    <img src="https://c1.staticflickr.com/3/2325/2353322369_645aa72001_b.jpg" alt="Kitten 5">
                </a>
                <div class="Listing-Info Has-Thumbnail">
                    <a class="Property Name" href="/">
                        Kitten 5
                    </a>
                    <span class="Property">Full of Catitude</span>
                </div>
            </div>

            <div class="Listing-Item">
                <a class="Listing-Thumbnail" href="/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/cd/1-month-old_kitten_43.jpg"
                        alt="Kitten 6">
                </a>
                <div class="Listing-Info Has-Thumbnail">
                    <a class="Property Name" href="/">
                        Kitten 6
                    </a>
                    <span class="Property">Meowderful</span>
                </div>
            </div>



        </div>
    </div>
</body>

</html>